<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <title>All Or Nothing Scorecard</title>
    <meta name='viewport' content='width=device-width, user-scalable=no'>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <!--Bootstrap -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="anstyle.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="app.min.js"></script>
  </head>
  <body ng-app="scoreCard" ng-controller="GameController">
    <section id="main">
      <header class="container-fluid">
        <h1>All Or Nothing<small> Scorecard</small></h1>
      </header>
      <nav class="navbar navbar-inverse" ng-click="hideInstructions()">
        <div class="container-fluid">
          <form class="navbar-form">
            <div class="navbar-left">
              <button id="new-game" class="btn btn-lg btn-gold navbar-btn" 
              ng-click="newGame()">New Game</button>
              <div class="form-group">
                <select name="player_count"
                  id="player-count"
                  ng-model="player_count"
                  ng-change="confirmCount()"/>
                  <option ng-repeat="num in teamOptions()" value="{{num}}">{{num}}</option>
                </select>
                <label for="player-count" class="navbar-text">Total {{getTeam()}}s</label>
              </div>
              <div class="form-group">
                <input type='checkbox' name='team' 
                  value='team'
                  id='checkbox-team' class-"navbar-text"
                  ng-model="team"
                  ng-true-value='true'
                  ng-false-value='false'
                  ng-change="confirmTeam()"/>                   
                <label for='checkbox-team' class="navbar-text">Team Play</label>
              </div>
            </div>
            <div class="btn-group navbar-right" role="group">
              <p class="btn btn-lg btn-non navbar-btn">Round: {{round}}</p>
              <button id="next-round" class="btn btn-lg btn-gold navbar-btn" 
              ng-click="advanceGame()">Next</button>
            </div>
          </form>
        </div>
      </nav><!--Navbar-->
      <section id="activegame" ng-hide="!active || instructions">
        <form name="game" novalidate>
        <ul class="container-fluid">
          <div class="row">
          <li class="col-sm-6 col-md-4" ng-repeat="player in players">
            <div class="players">
            <span class="input-group">
              <label class="sr-only" for="{{players.indexOf(player)}}-name">
              Player: </label>
              <input type='text' name='name' 
              placeholder='{{getTeam()}} Name'
              id='{{players.indexOf(player)}}-name'
              class="inputname textfield"
              ng-model="player.name"/>
            </span>

            <span class="input-group checkbox">
              <input type='checkbox' name='all' 
              value='all'
              id='{{players.indexOf(player)}}-all' 
              ng-model="player.all"
              ng-true-value='true'
              ng-false-value='false'
              ng-change="setHasEdited(true)"/> 
              <label for='{{players.indexOf(player)}}-all'>
              {{getBid(player.all)}}</label>
            </span>

            <span class="form-group">
              <label for='{{players.indexOf(player)}}-tricks'>
              Tricks Taken: </label>  
              <select name='tricks'
              id='{{players.indexOf(player)}}-tricks'
              ng-model="player.tricks"
              ng-change="setHasEdited(true)">
                 <option ng-repeat="num in trickOptions()" value="{{num}}">{{num}}</option>
              </select>
            </span>

            <span class="form-group">
              <p>Score: {{calculateScore(player.tricks, tricksTotal(), player.all, team)}}</p>
            </span>
            <span class="form-group">
              <p>Total: {{player.score}}</p>
            </span>
            
            <p><span class="{{currentDealer(players.indexOf(player))}}">Dealer</span></p>
          </div>
          </li>
          </div>
        </ul> 
        </form>
      </section>

      <section id="highscores" class="panel panel-default col-sm-10 col-sm-offset-1" 
      ng-hide="active || instructions ">
        <div class="panel-heading"><h2>Game Over</h2></div>
        <div class="panel-body">
          <ul class="list-group">
            <li ng-repeat="player in players | orderBy:'+score'" class="list-group-item">
              <h4 class="list-group-item-heading">{{getPlace(($index + 1))}} Place</h4>
              <p>{{player.name}}</p>
              <p>Score: {{player.score}}</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="instructions" 
      class="panel panel-default col-sm-10 col-sm-offset-1"
      ng-hide="!instructions">
        <a name="Instructions" class="aria-only"></a>
        <div class="panel-heading">
          <h2>Instructions</h2> 
          <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="hideInstructions()"></span>
        </div>
        <div class="panel-body">  
          <h3>Introduction</h3>
          <p>All or Nothing is a fun, fast-paced card game suitable for 3-6 players or 2-4 teams of 2 players each. This Scoresheet keeps track of the game play. It works in a web browser on any device from laptops to smartphones.</p>
          <h3>Getting Started</h3>
          <p>Select the number of players or teams from the dropdown box next to the “New Game” button. To play as teams rather than individuals, check the box labeled “Team Play.” In the boxes below control bar, fill in the name of each player or team. Indicate the first dealer by checking the box labeled “Dealer” for that person, as determined per the game’s instructions.</p>
          <h3>Bidding</h3>
          <p>Select All or Nothing for each player or team, based on their bid. Leave the box labeled “Nothing” unchecked if the player bids “Nothing.” If a player bids “All,” check the box labeled “Nothing” and it will change to “All.” Uncheck it to return to “Nothing.”</p>
          <h3>Scoring Each Round</h3>
          <p>After each round of play, count the tricks each player or team took. Use the dropdown labeled “Tricks Taken” to enter that number for each player or team. After all of the tricks have been entered, select the “Next” button to move to the next round. The “Total” will be updated to show each player’s or team’s score.</p>
          <h3>Ending a Game</h3>
          <p>When “Next” is selected after the tenth round of play, or anytime a player or team gets to 0, the final scores and positions will be displayed. To start a new game, select the “New Game” button. Change the number of players, teams or player names as desired.</p>
              <div><a href="http://allornothingcards.blogspot.com/p/main.html">Learn more about All or Nothing.</a></div>
              <div><a href="http://allornothingcards.blogspot.com/p/instructions.html">How to play All or Nothing.</a></div>
        </div>
      </section>

    </section>
    <footer class="container-fluid">
      <ul>
        <li><a href="http://allornothingcards.blogspot.com/p/main.html">Learn More</a></li>
        <li><a href="http://www.amazon.com/gp/product/B01BM3FUC6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01BM3FUC6&linkCode=as2&tag=jmaink-20&linkId=LWA7CIUX2UQHJKMF">Buy the Card Game</a></li>
        <li><a href="#Instructions" ng-click="showInstructions()">Instructions</a></li>
      </ul>
      <p>&#169; Jmars Inc. 2016</p>
    </footer>
</body>
</html>