<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <meta charset="UTF-8">
    <title>All Or Nothing Scorecard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
 
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/materialize.css" rel="stylesheet" type="text/css">
    
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="app.min.js"></script>
  </head>
  <body ng-app="scoreCard" ng-controller="GameController">
      <header>
        <div class="container">
          <h1>All Or Nothing<small> Scorecard</small></h1>
        </div>
      </header>
      <main>
      <nav ng-click="hideInstructions()">
        <div class="nav-wrapper">
          <div class="container">
            <div class="form-group">
              <button id="new-game" class="btn" 
              ng-click="newGame()">New Game</button>
            </div>

            <div class="form-group">
              <select name="player_count"
                id="player-count"
                ng-model="player_count"
                ng-change="confirmCount()"/>
                <option ng-repeat="num in teamOptions()" value="{{num}}">{{num}}</option>
              </select>
              <label for="player-count" class="navbar-text">Total {{getTeam()}}s</label>
            </div>

            <div class="form-group">
              <input type='checkbox' name='team' 
                value='team'
                id='checkbox-team' class-"navbar-text"
                ng-model="team"
                ng-true-value='true'
                ng-false-value='false'
                ng-change="confirmTeam()"/>                   
              <label for='checkbox-team' class="navbar-text">Team Play</label>
            </div>

            <div class="form-group" id="last-group">
            <label class="round">Round: {{round}}</label>
              <button id="next-round" class="btn" 
              ng-click="advanceGame()">Next</button>
            </div>
          </div>
        </div>
      </nav><!--Navbar-->

      <section id="activegame" ng-hide="!active || instructions">
        <form name="game" novalidate>
        <ul class="container">
          <div class="row">
          <div class="col s12 m6 l4"></div>
          <li class="col s12 m6 l4" ng-repeat="player in players">
            <div class="players card">
            <div class="card-content">
            <span class="input-group">
              <label class="aria-only" for="{{players.indexOf(player)}}-name">
              Player: </label>
              <input type='text' name='name' 
              placeholder='{{getTeam()}} Name'
              id='{{players.indexOf(player)}}-name'
              class="inputname textfield"
              ng-model="player.name"/>
            </span>

            <span>
              <input type='checkbox' name='all' 
              value='all'
              id='{{players.indexOf(player)}}-all' 
              ng-model="player.all"
              ng-true-value='true'
              ng-false-value='false'
              ng-change="setHasEdited(true)"/>
              <label for='{{players.indexOf(player)}}-all'>
              {{getBid(player.all)}}</label>
            </span>
            <table class="bordered">
            </tr>
            <tr>
              <td>
              <label for='{{players.indexOf(player)}}-tricks'>
              Tricks Taken: </label>  
              </td>
              <td>
              <select name='tricks'
              id='{{players.indexOf(player)}}-tricks'
              ng-model="player.tricks"
              ng-change="setHasEdited(true)">
                 <option ng-repeat="num in trickOptions()" value="{{num}}">{{num}}</option>
              </select>
              </td>
            </tr>

            <tr>
            <td>
              Score:
            </td>
            <td>
             {{calculateScore(player.tricks, tricksTotal(), player.all, team)}}
             </td>
            </tr>
            <tr>
              <td>Total:</td><td>{{player.score}}</td>
            </tr>
            </table>

            <p class="input-group">
              <input type="radio" 
                    ng-model='$parent.dealer'
                    name='dealer'
                    id='{{players.indexOf(player)}}-dealer'
                    ng-value='{{players.indexOf(player)}}'>
              <label for='{{players.indexOf(player)}}-dealer'>Dealer</label>
            </p>
          </div>
          </div>
          </li>
          </div>
        </ul> 
        </form>
      </section>

      <section id="highscores" class="container" 
      ng-hide="active || instructions ">
        <div class="card">
          <div class="card-content">
          <h2 class="card-title">Game Over</h2>
          <hr>
          <ul class="list-group">
            <li ng-repeat="player in players | orderBy:'+score'" class="">
              <h3 class="">{{getPlace(($index + 1))}} Place</h3>
              <p>{{player.name}}</p>
              <p>Score: {{player.score}}</p>
            </li>
          </ul>
        </div>
      </section>

     <section id="instructions" 
      class="container"
      ng-hide="!instructions">
        <div class="card">
        <a name="Instructions" class="aria-only"></a>
        <div class="card-content">  
        <div>
          <h2 class="card-title">Instructions</h2> 
          <span class="" aria-hidden="true" ng-click="hideInstructions()"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
          <hr>
        </div>
          <h3>Introduction</h3>
          <p>All or Nothing is a fun, fast-paced card game suitable for 3-6 players or 2-4 teams of 2 players each. This Scoresheet keeps track of the game play. It works in a web browser on any device from laptops to smartphones.</p>
          <h3>Getting Started</h3>
          <p>Select the number of players or teams from the dropdown box next to the “New Game” button. To play as teams rather than individuals, check the box labeled “Team Play.” In the boxes below control bar, fill in the name of each player or team. Indicate the first dealer by checking the box labeled “Dealer” for that person, as determined per the game’s instructions.</p>
          <h3>Bidding</h3>
          <p>Select All or Nothing for each player or team, based on their bid. Leave the box labeled “Nothing” unchecked if the player bids “Nothing.” If a player bids “All,” check the box labeled “Nothing” and it will change to “All.” Uncheck it to return to “Nothing.”</p>
          <h3>Scoring Each Round</h3>
          <p>After each round of play, count the tricks each player or team took. Use the dropdown labeled “Tricks Taken” to enter that number for each player or team. After all of the tricks have been entered, select the “Next” button to move to the next round. The “Total” will be updated to show each player’s or team’s score.</p>
          <h3>Ending a Game</h3>
          <p>When “Next” is selected after the tenth round of play, or anytime a player or team gets to 0, the final scores and positions will be displayed. To start a new game, select the “New Game” button. Change the number of players, teams or player names as desired.</p>
          <p><br/><hr><br/></p>
          <div class="text-center">
            <a class="btn btn-lg" href="http://allornothingcards.blogspot.com/p/main.html">Learn more about All or Nothing.</a>
            <a class="btn btn-lg" href="http://allornothingcards.blogspot.com/p/instructions.html">How to play All or Nothing.</a>
          </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <ul>
        <li><a href="http://allornothingcards.blogspot.com/p/main.html">Learn More</a></li>
        <li><a href="http://www.amazon.com/gp/product/B01BM3FUC6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01BM3FUC6&linkCode=as2&tag=jmaink-20&linkId=LWA7CIUX2UQHJKMF">Buy the Card Game</a></li>
        <li><a href="#Instructions" ng-click="showInstructions()">Instructions</a></li>
      </ul>
      <p>&#169; Jmars Inc. 2016</p>
    </footer>
</body>
</html>