$gold: #ecb939;
$card: #d4d4d4;
$base: #2a2a2a;
/*#f2f2f2;*/
$text: #fefefe;
$body: black;
$header: black;
$footer: lighten(desaturate(#372e29, 15%), 15%);

$thick: 3px;
$radius: 0;
$font: Arial, sans-serif;
$fontlg: 3em;
$fontmd: 2em;
$fontsm: 1.6em;

@mixin goldhover {
	color: #fff;
	background-color: $gold;
}

/*RESETS*/
html {
	position: relative;
	min-height: 100%;
}
body {
    min-height: 100%;
	font-family: $font;
	background-color: $card;
	color: $text;
}

p, .players label, input, footer {
	font-size: $fontsm;
	font-weight: normal;
}
h2 { font-size: 2.5em; }
h3, h4, .inputname {
	margin: 0;
	padding: 0;
	font-size: $fontmd;
}
h1 {
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: $fontlg;
}
a {
	padding: 5px 10px;
	font-variant: small-caps;
	text-decoration: none;
	color: $gold;
	border: $thick solid $footer;
	border-radius: $radius;
	&:hover {
		text-decoration: none;
		color: $gold;
		border-color: $gold;
	}
}

/*HEADER*/
header {
	font: 'Lato', $font;
	background-color: $header;
	small {
		color: $gold;
	}
}

/*NAVIGATION*/
@media (min-width: 768px) {
	.navbar-form {
		padding-left: 0;
	}
	#player-count {
		margin-left: 0;
		margin-right: 0;
	}
	footer {
		position: absolute;
		bottom: 0;
		height: 100px;
	}
	#main, #highscores {	
		margin-bottom: 100px;
	}
	footer li {
		display: inline;
		margin: 0 15px;
	}
}
@media (max-width: 767px) {
	#checkbox-team, #player-count {
		margin-right: 15px;
	}	
}
.navbar {
	margin-bottom: 0;
}
.navbar-inverse {
	background-color: $base;
	border-bottom: $thick solid $gold;
	border-radius: $radius;
}
.navbar-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	border: $thick solid $base;
	border-radius: $radius;
	font-variant: small-caps;
	&:hover {
		color: $text;
	}
}
.navbar-text {
	float: none;
}
.btn-gold {
	background-color: $base;
	border: $thick solid $text;
	&:hover {
		color: $gold;
		border-color: $gold;
	}
}

/*MAIN GAME PLAY*/
#activegame {
	padding-top: 20px;
  	li {
		list-style: none;
	}
}
.players {
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	.input-group, .form-group {
		margin: 5px auto;
	}
	background-color: lighten($base, 5%);
	border: $thick solid $text;
	border-radius: $radius;
	input[type="number"] {
    	width: 60px; 
    }
	input[type="checkbox"], select {
		margin: 8px 0;
		left: 30%;
	}
}
.form-group {
	label, input {
		display: inline;
		vertical-align: middle;
	}
}
.input-group.checkbox {
	width: 100%;
	label {
		padding-left: 0;
	}
}

.textfield {
	width: 100%;
	padding: 5px;
	font-family: $font;
	text-align: center;
	background-color: lighten($base, 5%);
	border: $thick solid lighten($base, 5%);
	border-radius: $radius;
	outline: 0; 
	&:focus {
	border-color: $gold; 
	}
}
.dealer, .notdealer {
	color: $gold;
	font-variant: small-caps;
	padding: 5px 10px;
	font-weight: normal; 
	border: $thick solid $gold;
}
.notdealer {
	visibility: hidden;
}

/*GAME OVER*/
#highscores {
	text-align: center;
	margin-top: 15px;
	background-color: $base;
	border: $thick solid $text;
	border-radius: $radius;
	.panel-heading {
		color: #fff;
		background-color: $base;
		border: $thick solid $base;
	}
	.list-group {
		color: $base;
	}
}

/*Footer*/
footer {
	width: 100%;
	margin-top: 15px;
	text-align: center;
	background-color: $footer;
	ul {
		padding-left: 0;
		padding-top: 30px;
	}
	li {
		list-style: none;
		margin: 10px 0;
	}
}














