/*COLORS*/
$gold: #e8a700;
$medium-gray: #777;

@mixin card {
	float: left;
	width: 28%;
	margin: 2%;	
	border: 1px solid black;
	border-radius: 5px;
}

html {
	min-height: 100%; 
}
body {
	width: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: $medium-gray;
}
#main {
	margin-top: 30px;
}
.player {
	margin: 10px;
	background-color: #fff;
}
.add-player {
	background-color: #fff;
}

.sidebar {
	padding: 30px 0;
	text-align: center;
	background-color: black;
}

.btn-sidebar {
	display: block;
	margin: 15px auto;
    font-weight: bold;
}














