/*THEMES DOC SETUP*/
.container {
	max-width: 200px;
	padding: 10px;
	.btn {
		display: block;
	}
}
.debug {
	border: 2px solid red;
	border-radius: 4px;
	background-color: lighten(red, 40%);
	max-width: 500px;
	font-size: 10px;
	display: none;
}

/*SCREEN READER*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; 
}

/*COLORS*/
$gold: #e8a700;
$link: lighten(#007c99, 8%); 
$base: #f2f2f2;
$text: #1a1a1a;

$radius: 4px;
$font: Arial, sans-serif;

/*TEXT*/
body {
	font-family: $font;
	font-size: 100%;
	width: 100%;
	background-color: $text;
}
#light {
	color: $text;
	background-color: $base;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	padding-left: 20px;
}
#dark {
	color: $base;
	background-color: $text;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	padding-left: 20px;
}
/*FOOTER*/
html {
	min-height: 100%;
}
body {
	margin: 0;
}

footer {
	display: block;
	clear: both;
	height: 80px;
	padding: 30px 0px;
	width: 100%;	
	text-align: center;
	li {
		margin: 20px;
	}
}

/*LISTS*/
li {
	list-style: none;

}
ul {
	padding: 0;
}
footer li, nav li {
	display: inline-block;
}

.stacking {
	div {
	}
}

/*NAVIGATION*/
nav {
	color: $base;
}

/*PLAYER SECTIONS*/
li.players {
	margin: 10px;
	float: left;
	width: 260px;
	padding: 20px;
	background-color: $base;
	border: 2px solid $base;
	border-radius: $radius;
	text-align: center;
}

.spacer {
	color: $base;
}

/*BUTTONS*/

.btn {
	margin: 5px;
	text-align: center;
	vertical-align: middle;
	color: $base;
	font-weight: bold;
	font-family: $font;
	background-color: $text;
	border: 2px solid $text;
	border-radius: $radius;
	outline: 0;
	&:hover {
		border-color: $gold;
		background-color: $gold;
	}
}
.btn-dark {
	border-color: $base;	
	background-color: $base;
	color: $text;
}
.btn-high {
	border-color: darken($link, 6%);
	background-color: darken($link, 6%);
}
.btn-sm {
	font-size: .8em;
	padding: 6px;
}
.btn-md {
	font-size: 1em;
	padding: 8px 10px;
}
.btn-lg {
	font-size: 1.3em;
	padding: 8px 12px;
}

/*LINKS*/

a {
	margin: 5px;
	padding: 2px 1px;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color: $link;
	&:hover {
		border-bottom: 2px solid $link;
	}
}

.a-gold {
	color: $gold;
	&:hover {
		border-color: $gold;
	}
}

/*FORMS*/
/*fields*/
.form-group {
	display: block;
	input, label, h4 {
		display: inline;
	}
}
input[type="number"] {
	width: 60px;
}

.textfield {
	padding: 5px 10px;
	margin: 5px;
	font-family: $font;
	font-size: 1em;
	color: $text;
	vertical-align: middle;
	text-align: center;
	background-color: $base;
	border: 2px solid $base;
	border-radius: $radius;
	outline: 0;
	&:focus {
		border-color: $gold;
	}
}
.textfield-dark {
	border-color: $text;
}

/*sliders*/
.slider {
	border-radius: $radius;
	background: $text;
	border: 2px solid $text;
	.ui-state-default {
		background: $gold;
		outline: 0;
		border-radius: 15px;
		border: 2px solid $gold;
		&:hover {
			background: lighten($gold, 20%);
			border-color: lighten($gold, 20%);
		}
		&:focus {
			background: lighten($gold, 20%);
			border-color: lighten($gold, 20%);
		}
	}

}
.slider-dark {
	background: $base;
	border-color: $base;
}
/*POP-UPS*/

.confirm {
	display: none;
}
.confirm-visible {
	display: block;
	z-index: 100;
	position: fixed;
	top: 30%;
	left: 30%;
	right: 30%;
	height: 175px;
	background-color: $gold;
	opacity: 0.9;
	border: 2px solid $text;
	border-radius: $radius;
	text-align: center;
	font-weight: bold;
	padding: 20px;
	button {
		margin-left: auto;
		margin-right: auto;
	}
}













